# Django
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# Backup files
*.bak 

# Environment variables and sensitive settings
.env
local_settings.py
production_settings.py

# Database
*.sqlite3
/postgre-data/

# Python
*.py[cod] 
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
.env
.venv
env/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store