<!DOCTYPE html>
<html lang="en">

    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Mowin - Anishinaabemowin Vocabulary</title>
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"> -->
        <link rel="stylesheet" href="{% static 'bulma.css' %}">
    </head>

    <body class="hero">
    
        <header style="position: fixed; top: 0; left: 0; right: 0; z-index: 10;">
            <div class="hero-head has-background-black">
                <nav class="navbar">
                    <div class="container">
                        <div class="navbar-brand">
                            <a class="navbar-item">
                                <img src="{% static 'MOWIN.png' %}" alt="Logo" />
                            </a>
                            <span class="navbar-burger" data-target="navbarMenuHeroB">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                        </div>
                        <div id="navbarMenuHeroB" class="navbar-menu">
                            <div class="navbar-end">
                                <a class="navbar-item is-active">Home</a>
                                <a class="navbar-item" href="{% url 'deck-list' %}">Card Decks</a>
                                <a class="navbar-item" href="{% url 'about' %}">About</a>
                                <span class="navbar-item">
                                    <a class="button is-info is-inverted">
                                        <span class="icon">
                                            <i class="fab fa-github"></i>
                                        </span>
                                        <span>Download</span>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        
        <main style="padding-top: 2rem; padding-bottom: 2rem; overflow-y: auto; height: calc(100vh - 7rem);">
            <div class="hero-body">
                {% block content %}
                {% endblock %}
            </div>
        </main>
        
        <footer "position: fixed; bottom: 0;left: 0; right: 0; z-index: 10;" class="is-centered">
            <div class="is-centered has-background-black">
                {% include "cards/footer.html" %}
            </div>
            <p style="font-style: italic;" class="is-link has-text-centered mt-2">Manido Aaziinencesuk 2024</p>
        </footer>
        
    </body>

</html>