{% extends "cards/base.html" %}

{% block content %}
<section class="section">
    <div class="container">
        <!-- Title based on whether editing or creating -->
        {% if card %}
        <h2 class="title">✏️ Edit Card</h2>
        {% else %}
        <h2 class="title">✨ Create New Card</h2>
        {% endif %}

        <!-- Display messages -->
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}

        <!-- Form for creating or editing a card -->
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.anishinaabemowin.id_for_label }}">Anishinaabemowin:</label>
                {{ form.anishinaabemowin }}
            </div>
            <div class="form-group">
                <label for="{{ form.english.id_for_label }}">English:</label>
                {{ form.english }}
            </div>
            <div class="form-group">
                <label for="{{ form.pronunciation.id_for_label }}">Pronunciation:</label>
                {{ form.pronunciation }}
            </div>
            <div class="form-group">
                <label for="{{ form.subject.id_for_label }}">Subject:</label>
                {{ form.subject }}
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>

        <!-- Cancel link -->
        <a href="{% url 'card-list' %}" class="button is-light mt-3">Cancel</a>
    </div>
</section>
{% endblock %}