{% load cards_tags %}

    <div class="hero-foot">
        <nav class="navbar">
            <div class="container">
                <ul class="navbar-menu is-centered">
                    <!-- Link to All Cards -->
                    <li class="navbar-item">
                        <a class="navbar-link is-active has-text-centered" href="{% url 'card-list' %}">All Cards</a>
                    </li>
                    <!-- Dynamic Links for Boxes -->
                    {% boxes_as_links %}
                </ul>
            </div>
        </nav>
    </div>





